#background-wrapper {
    background-color: grey;
    position: absolute;
    display: inline-block;
    overflow: hidden;
    z-index: -999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: opacity(50%) blur(5px);
}